<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="log1" fileName="logs/input_errors.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <MarkerFilter marker="incorrect_input" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="log2" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <MarkerFilter marker="correct_input" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="log3" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <MarkerFilter marker="exception" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </appenders>
    <loggers>
        <root level="INFO">
            <AppenderRef ref="log1"/>
            <AppenderRef ref="log2"/>
            <AppenderRef ref="log3"/>
        </root>
    </loggers>
</configuration>